RewriteEngine On

# Si el archivo o directorio existe, úsalo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe, redirige la petición a index.php
RewriteRule ^ index.php [QSA,L]
