*{
    margin: 0;
    padding: 0;
}

:root {
    --custom-color: #FFFBFC !important;
}

@font-face {
    font-family: "Noto Serif";
    src: url(../fonts/NotoSerif-VariableFont_wdth\,wght.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url(../fonts/NotoSans-VariableFont_wdth\,wght.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url(../fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: "Noto Serif", sans-serif !important;
    background-color: #825abd;
    color: white;
}

main {
    min-height: 70vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Serif";
  color: white;
}


.navbar{
    background-color: white !important;
    a{
        color: #160F29;
    }
}

.btn-primary,
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: var(--custom-color) !important;
  border-color: var(--custom-color) !important;
  color: #160F29 !important;
}

.nav-item{
    button, button:hover{
        color: white;
    }
}



/* ==============================================
   Tabla empleados
   ============================================== */
#tabla-empleados {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff !important;
}

#tabla-empleados th,
#tabla-empleados td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd !important;
}

#tabla-empleados th {
    background-color: #007bff !important;
    color: #fff !important;
}

#tabla-empleados tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tabla-empleados tr:hover {
    background-color: #f1f1f1;
}


/* ==============================================
   Barra superior de tabla
   ============================================== */
.top-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.top-left {
    flex: 1;
    text-align: left;
}

.top-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.top-right {
    flex: 1;
    text-align: right;
}

/* ==============================================
   Barra inferior de tabla
   ============================================== */
.bottom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.bottom-left {
    flex: 1;
    text-align: left;
    display: flex;
}

.bottom-right {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

