*{
    margin: 0;
    padding: 0;
}

:root {
    --custom-color: #FFFBFC !important;
}

@font-face {
    font-family: "Noto Serif";
    src: url(../fonts/NotoSerif-VariableFont_wdth\,wght.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url(../fonts/NotoSans-VariableFont_wdth\,wght.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url(../fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: "Noto Serif", sans-serif !important;
    background-color: #825abd;
    color: white;
}

main {
    min-height: 70vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Serif";
  color: white;
}

a{
    text-decoration: none;
    color: #160F29;
}

.navbar{
    background-color: white !important;
    a{
        color: #160F29;
    }    
}

.btn-primary,
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: var(--custom-color) !important;
  border-color: var(--custom-color) !important;
  color: #160F29 !important;
}

.nav-item{
    button, button:hover{
        color: white;
    }
}

/* ==============================================
   Tabla empleados
   ============================================== */
#tabla-empleados{
    font-family: "Noto Serif", sans-serif !important;
}

.dt-input option {
    color: #160F29;
    background-color: #FFFFFF;
}

#dt-search-0{
    color: #160F29;
    background-color: #FFFFFF;
}

/* ==============================================
   Perfiles
   ============================================== */
.card {
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.profile-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #825abd;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.btn-purple {
    background-color: #825abd;
    color: white;
}

.btn-purple:hover {
    background-color: #6d47a8;
    color: white;
}